@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Phudu&family=Sora:wght@800&family=Ubuntu:ital,wght@1,500&display=swap');



* {
    padding: 0px;
    margin: 0px;
    font-style: none;
    font-family: 'Sora';
}

body {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
}

header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: white;
    height: 400px;
    background: rgb(34,193,195);
    background: linear-gradient(20deg, rgba(34,193,195,1) 0%, rgb(57, 15, 211) 100%);
    box-shadow: 0px 8px 20px #555;
}

.header-time{
    display: flex;
    font-size: 30px;
    font-weight: 800;
    gap: 8px;
    padding: 8px;
    position: relative;
    left: 0;
    top: 0;
    color: #36008C;
}

#destaque {
    background-color: #4c199efc;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 50px;
    row-gap: 50px;
}

.projects {
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px 15px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img {
    box-shadow: 2px 5px 10px #444;
    width: 530px;
    border-radius: 5px;
    display: block;
}

.project:hover {
    transition: 1s;
    filter: blur(1px);
}

.project:hover .overlay {
    opacity: 1;
}

.overlay {
    width: 530px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    column-gap: 40px;
    opacity: 0;
    transition: .3s ease;
}

.bi {
    font-size: 90px;
}

.project:hover .bi::after{

}

@media only screen and (min-width: 1025px) {
    header > * {
        margin-left: 5vw;
    }

    header > h1{
        font-size: 5rem;
    }
    
    header > h2{
        font-size: 3rem;
    }
    
    header > h3{
    font-size: 3rem;
    }

    .header-time{
        padding-left: 2vw;
    }
}

@media only screen and (max-width:768px) {

.project-img {
    width: 340px;
}

}