@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Phudu&family=Sora:wght@800&family=Ubuntu:ital,wght@1,500&display=swap');



* {
    padding: 0px;
    margin: 0px;
    font-style: none;
    font-family: 'Sora';
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 400px;
    width: 100vw;
    background: rgb(34,193,195);
    background: linear-gradient(20deg, rgba(34,193,195,1) 0%, rgb(57, 15, 211) 100%);
    box-shadow: 0px 8px 20px rgb(57, 15, 211);
}

/* header::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(24, 0, 63, 0.99));
    background-size: 25vw;
    height: 25vw;
}

header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -2;
    background: url(img/header-wallpaper3.png) no-repeat;
    background-size: 25vw;
    background-position: center;
    height: 25vw;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
} */

.header-time{
    display: flex;
    font-size: 30px;
    font-weight: 800;
    gap: 8px;
    padding: 8px;
    position: relative;
    left: 0;
    top: 0;
    color: #36008C;
}

#destaque {
    background-color: #4c199efc;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 50px;
    row-gap: 50px;
}

.projects {
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.projects img {
    box-shadow: 2px 5px 10px #4c199efc;
    width: 530px;
    border-radius: 5px;
}

.projects img:hover {
    cursor: pointer;
    
}

@media only screen and (min-width: 1025px) {
    header > * {
        margin-left: 5vw;
    }

    header > h1{
        font-size: 5rem;
    }
    
    header > h2{
        font-size: 3rem;
    }
    
    header > h3{
    font-size: 3rem;
    }

    .header-time{
        padding-left: 1vw;
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: 100vw;
        text-align: left;
    }

    header::before {
        background-size: 100vw;
        height: 100vw;
    }
    
    header::after {
        background-size: 80vw;
        height: 80vw;
        -webkit-filter: blur(14px);
        -moz-filter: blur(14px);
        -o-filter: blur(14px);
        -ms-filter: blur(14px);
        filter: blur(14px);
    }

    .header-time{
        justify-content: center;
    }
}