main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  padding-bottom: 80px;
}

* {}

.wellcome {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-ligth);
}

.wellcome > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#about h1 {
  color: var(--primary-text);
  font-weight: 800;
}

#about h3 {
  color: white;
  padding-top: 10px;
  width: 700px;
  font-weight: 500;
}

#stacks {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#stacks h3 {
  color: var(--primary-text);
  font-weight: 700;
}

#stacks div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

img {
  border-radius: 10%;
}

main>h1 {
  /* color: #FC7307; */
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-ligth);
  color: var(--primary-text);
}