@media only screen and (min-width: 1025px) {

  header h1 {
    font-size: 5rem;
  }

  header h2 {
    font-size: 3rem;
  }

  header h3 {
    font-size: 3rem;
  }

  .header-time {
    padding-left: 2vw;
  }
}

@media only screen and (max-width:768px) {

  .project-img {
    width: 340px;
  }

}